<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GenericIndexingConfiguration" type="GenericIndexing.Common.Configuration.ConfigurationSectionHandler, GenericIndexing.Common.Configuration"/>
  </configSections>
	<appSettings>
        <add key="SearchIndexServiceConfig" value="/SearchIndexService"/>
		<add key="CONTENT_TYPES_DIR" value="D://DEV//POC//Solr Mapper//content_types" />
		<add key="TEST_CONTENT_DIR" value="D://DEV//POC//Solr Mapper//test_content" />
		<add key="SOLR_CORE" value="en" />
		<add key="LoggingConfigPath" value="D://DEV//POC//Solr Mapper//SolrIndexer//Logging.config" />
		<add key="DISABLE_TRIDION_LINK_RESOLUTION" value="true" />
		<add key="XPATH_CONTENT_TYPE_FIELDS" value="fields/field" />
    <add key="XPATH_CONTENT_TYPE_RTF_NODES" value="/cdatatransformnodes/nodexpath" />
		<add key="XPATH_CHILD_TYPE" value="/contenttype/contenttype" />
		<add key="XPATH_PUBLICATION_NAME" value="publication/@Title" />
		<add key="LINK_OBJECT_DELIMITER" value="," />
	</appSettings>
    <GenericIndexConfiguration>
        <rootPath>D:/DEV/POC/Solr Mapper/SolrIndexer</rootPath>
        <fileExtension>config</fileExtension>
    </GenericIndexConfiguration>
</configuration>